{% extends 'base.html' %}



{% block content %}
<div class="container_fliud justify-content-center">
    <div class="row justify-content-center shop-header p-5 text-center">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center">
            <h2 style="color: lightskyblue;">Today Is The Day To Prioritze YOUR Mental Health!</h2>
            <h5 style="color: lightskyblue">You Being Here Makes The World  Better Place.</h5>
            <a href="#" class="btn btn-outline-light-mt-3" style="color: lightskyblue; border-radius: 10px; border: 2px solid lightskyblue">Resources Here!</a>

        </div>
    </div>
    <div class="row bg-black p-3 shop-stats">
        <div class="col d-flex justify-content-center" style="color: lightskyblue;">Total # of People Who We've Helped.: Many</div>
        <div class="col d-flex justify-content-center" style="color: lightskyblue">Cost for Help: $0</div>
        <div class="col d-flex justify-content-center" style="color: lightskyblue;">Total # of Resources: Infinite.</div>
    </div>
</div>


{% endblock content %}